@charset "UTF-8";
body
{
    background-color: rgba(221, 252, 176, 0.986);
    font-family: sans-serif;
}
h1
{
    color:  rgb(4, 109, 0);
}
h1#principal
{
    text-align: center;
    background-color: rgb(4, 109, 0);
    color: white;
}
h2
{
    color:  rgb(73, 226, 68);
}
.basico 
{
    color: #3c805e;
    font-weight: bold;
}
.intermediario
{
    color: #80793c;
}
.avancado
{
    color: #803c3c;
}
.destaque
{
    background-color: #c5c56070;
}